body {
	margin: 5%;
<<<<<<< HEAD
	border: solid 3px darkgreen;
	padding: 2px;
=======
	margin-bottom: 20%;
>>>>>>> FETCH_HEAD
}

#header {
	display: inline-block;
	padding: 0%;
	width: 100%;
	border: solid 2px black;
}

#text-area {
	background-color: #cccccc;
	border: solid 2px black;		
}

img {
	float: left;
	width: 35%;
	display: inline-block;
}

h1 {
	float: left;
	display: inline-block;
	width: 60%;
	padding: 10% 5% 10% 5%;
	font-size: 7rem;
}

.rules {
	padding: 0% 10% 5% 20%;
}

.rules h3 {
	margin-top: 0%;
	padding-top: 5%;
}

.letsPlay h3 {
	padding-left: 5%;
}

#goButton {
	margin: 2% 45% 20% 35%;
	display: center;
	font-size: 2rem;
}

.userForm {
	display: show;
	width: 160px;
	margin: 2% 40%;

}

#userEntry {
	min-height: 60px;
	width: 160px;
	text-align: center;
	font-size: 36px;

}
<<<<<<< HEAD
=======
.results {
	display: none;
}

#resultsOutput {
	min-height: 100px;
}

ul {
	list-style: none;
}
>>>>>>> FETCH_HEAD
